@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    --snow-font-color: snow;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    max-height: 100vh;
}

header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightcyan;
}

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}

.header > .search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    gap: 1rem;
}

.header > .search-container > input {
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 90%;
    border: none;
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
}

.header > .profile-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.header > .profile-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header > .profile-container > .profile-name {
    font-size: 1rem;
    font-weight: 700;
}

.header > .welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header > .welcome-container > .welcome-logo {
    grid-column: 1 / 2;
}

.header > .welcome-container > div {
    grid-column: 2 / 3;
}

.header > .welcome-container > div.welcome-msg {
    font-size: 0.8rem;
    font-weight: 700;
}

.header > .welcome-container > div.welcome-name {
    font-size: 1.2rem;
    font-weight: 700;
}

.header > .btns-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 2rem
}

.header > .btns-container > button {
    background-color: darkcyan;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    color: var(--snow-font-color);
    font-size: 0.9rem;
    font-weight: 700;
}

.header > .btns-container > button:hover {
    cursor: pointer;
}

/* NAV > SIDEBAR */
nav {
    background-color: lightcoral;
    grid-row: 1 / 3;
}

.sidebar {
    color: var(--snow-font-color);
    grid-column: 1 / 2;
    font-weight: 700;
    padding: 1rem 0 0 1rem;
}

.sidebar .sidebar-logo {
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.sidebar ul {
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0;
}

.sidebar ul > li {
    list-style-type: none;
    padding: 0.8rem 0 0 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main > .project-header {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.projects-container {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr) 0.1fr;
    gap: 1rem;
}

.projects-container > .project-item {
    height: 300px;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1rem;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 300px;
    background-color: pink;
}

.announcements-container > .announcements-item {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1rem;
}

.trending-container {
    background-color: hotpink;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 300px;
}

.trending-container > .trending-item {
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    margin: 1rem;
}

