@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: "Roboto", "sans-serif";
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    width: 100vw;
}

header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightcyan;
}

nav {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightcoral;
}

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgrey;
}
