@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    --snow-font-color: snow;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    max-height: 100vh;
    height: 100vh;
}

/* HEADER */
header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightcyan;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}

.header > .search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    gap: 1rem;
}

.header > .search-container > input {
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 90%;
    border: none;
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
}

.header > .profile-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.header > .profile-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header > .profile-container > .profile-name {
    font-size: 1rem;
    font-weight: 700;
}

.header > .welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header > .welcome-container > .welcome-logo {
    grid-column: 1 / 2;
}

.header > .welcome-container > div {
    grid-column: 2 / 3;
}

.header > .welcome-container > div.welcome-msg {
    font-size: 0.8rem;
    font-weight: 700;
}

.header > .welcome-container > div.welcome-name {
    font-size: 1.2rem;
    font-weight: 700;
}

.header > .btns-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 2rem
}

.header > .btns-container > button {
    background-color: darkcyan;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    color: var(--snow-font-color);
    font-size: 0.9rem;
    font-weight: 700;
}

.header > .btns-container > button:hover {
    cursor: pointer;
}

/* NAV > SIDEBAR */
nav {
    background-color: lightcoral;
    grid-row: 1 / 3;
}

.sidebar {
    color: var(--snow-font-color);
    grid-column: 1 / 2;
    font-weight: 700;
    padding: 1rem 0 0 1rem;
    margin: 0 1rem 0 0;
}

.sidebar .sidebar-logo {
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.sidebar ul {
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0;
}

.sidebar ul > li {
    list-style-type: none;
    padding: 0.8rem 0 0 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

/* Main */
main {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem, 1.5rem;
}

.project-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1rem;
}

.project-container .project-header {
    padding: 1rem 0 1rem 0;
}

.project-container .project-group {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.project-container .project-group > .project-item {
    background-color: snow;
    padding: 1rem;
    /* margin: 0 1rem 0 1rem; */
    height: 18rem;
    border-left: 0.625rem solid darkorange;
    border-radius: 0.625rem;

    display: flex;
    flex-direction: column;
}

.project-container .project-group > .project-item > .title {
    font-weight: 700;
    font-size: 1.1rem;
    height: 2rem;
}

.project-container .project-group > .project-item > p {
    color: grey;
    min-height: 12.5rem;
}

div.actions {
    display: grid;
    grid-auto-flow: column;
    place-content: end;
    gap: 0.625rem;
}

div.actions > button[type=button] {
    background-color: snow;
    border: none;
}

div.actions > button[type=button]:hover {
    cursor: pointer;
}

.announcement-container {
    grid-column: 3 / 4;
}

.trending-container {
    grid-column: 3 / 4;
}